.subjectHeader{
    color: purple;
}

table, th, td {
    border: 1px solid;
    text-align: center;
  }

  th {
    color: teal;
  }

  ul {
    list-style-type: square;
  }

  a:hover {
    background-color: lightgreen;
    text-decoration: none;
  }

  blockquote{
    background-color:indigo;
    opacity: 0.6;
    color: teal;
  }

  #teamRoster > li:first-child {
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://upload.wikimedia.org/wikipedia/en/4/44/Denver_Broncos_logo.svg);
    background-size: 185px;
    background-repeat: no-repeat;
  }

#teamRoster > li:last-child{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(https://upload.wikimedia.org/wikipedia/commons/5/5c/Chicago_Bears_logo.svg);
    background-size: 160px;
    background-repeat: no-repeat;
}

img{
    opacity: 0.5;
}

  li > img{
    display: none;
  }

  #checkbox-grid{
    list-style-type: none;
  }